In [1]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import pandas as pd
load_dotenv()
engine = create_engine(os.getenv("DATABASE_URL"))
with engine.connect() as conn:
    df = pd.read_sql(text("SELECT * FROM sandbox.sales"), conn)
df

   id   sale_date product region  quantity   price
0   1  2025-09-01  Laptop   West         3  1200.0
1   2  2025-09-02   Phone   East         5   800.0
2   3  2025-09-02  Tablet   West         2   500.0
3   4  2025-09-03  Laptop   East         1  1200.0
4   5  2025-09-03   Phone   West         4   800.0